
	
<% layout("/layout/every.ejs") %>

<body style="font-family:Arial,sans-serif; background-color: #0a5398 !important;;">
	<style>
        
@page { margin:0.5in 0.5in 0.5in 0.5in; }

.receipt {
    margin:0 auto 1in auto;
    /*font-family:"verdana",monospace;*/
    border:solid #000;
    padding:0 0.25in;
    width:10in;
    min-height:2.5in;
    height: auto;
    /*page-break-inside:avoid;
    page-break-before:auto;
    page-break-after:auto;*/
    /*word-wrap: break-word;*/
}

.receipt div {
    margin:0;
    margin-bottom:0.1in;
    padding:0;
    /*word-wrap: break-word;*/
  /*background-color: green;*/


}
  body{
	  background-color: rgb(180, 218, 180);
  }
.receipt span {
    display:inline-block;
    line-height:2;
}

.receipt p, .receipt span {
    margin:0; padding:0;


}

.title {
    font-family:Arial,sans-serif;
    font-size:1.5em;
    color: #191717;
    font-weight:bold;
    width:100%;
}

.label {
    font-weight:bold;
    color: #a40a0b;
    background-color: #f1f1d1;
    margin-bottom: 10px!important;
    padding-left: 5px!important;
    padding-right: 5px!important;
    border-radius: 5px;
    font-size: 1.1em;
}

.date, .payee, .phone, .signature {
    border-bottom:solid thin #444;
}

.payee, .signature { width:2in; }

.phone, .date  { width:1.25in; }

.amount, .payer {
    font-style:italic;
    text-decoration:underline;
}
.tab{
  border-collapse: collapse;
  width: 100%;
  /*word-break: break-all;
  word-wrap: break-word;*/

  /*background-color: green;*/
  /*word-wrap: break-word!important;*/

  /*white-space: pre-line!important;*/
  /*overflow:auto!important;*/
}
.tab td{
  border:1px solid #CCC !important;
  padding-left: 10px;
  /*background-color:#DDFFFF;*/

  word-wrap: break-word!important;
  /*white-space: pre-line!important;*/
  /*overflow:auto!important;*/
  /*background-color: red;*/

}
.receipt_left{
  float: left;
  width:5.5in;
  /*word-wrap: break-word;*/
}
.receipt_right{
  float: right;
  width:1.5in;
  /*word-wrap: break-word;*/
}

.receipt_left1{
  float: left;
  width:4.5in;
  /*word-wrap: break-word;*/
}
.receipt_right1{
  float: right;
  width:4.5in;
  /*word-wrap: break-word;*/
}

.receipt_right img
{
  height: 1in;
  width: 0.8in;
  padding: 2px;
  border: 1px solid #CCC;
}

.receipt_center{
  /*float: left;*/
  width:auto;
  height: 120px;
  /*word-wrap: break-word;*/
}

th
{
text-align: left;
}
.ccc{
	background-color: #e7e9eb;
}
.tr_title
{
color: #0a5398;
}

    </style>
	<div class="ccc">
	<div class="receipt">
		
		<hr>
			<div class="title">IIT PATNA FACULTY RECRUITMENT</div>
	<div class="receipt_left">
		<p style="width:10in;">Advertisement Number :IITP/FACREC-CHE/2024</p>
		<p>Date of Application : <%=applicationdetails[0].doa%></p>
		<p>Post Applied for : <%=applicationdetails[0].post%>r</p>
		<p>Department : <%=applicationdetails[0].dept%></p>
		<p>Application Number : <%=applicationdetails[0].app_num%></p>
		
	</div>
	<div class="receipt_right" style="margin-top: -30px;">
				<img src="<%= personalRows[0].image_path %>" />
	</div>
	<div style="clear:both"></div>
	<div>
	<span class="label">1. Personal Details</span>

	<table class="tab">
		<tr style="background-color:#f1f1f1;">
			<td><strong class="tr_title">First Name</strong></td>
			<td><strong class="tr_title">Middle Name</strong></td>
			<td><strong class="tr_title">Last Name</strong></td>
		</tr>
				<tr>
			<td><%=personalRows[0].first_name %></td> 
			<td><%=personalRows[0].middle_name %></td>
            <td><%=personalRows[0].last_name %></td>

		</tr>
	</table>
	<br />
	

	<table class="tab">
		<tr style="background-color:#f1f1f1;">
			<td><strong class="tr_title">Date of Birth</strong></td>
			<!-- <td><strong class="tr_title">Age</strong></td> -->
			<td><strong class="tr_title">Gender</strong></td>
			<td><strong class="tr_title">Marital Status</strong></td>
			<td><strong class="tr_title">Category</strong></td>
			<td><strong class="tr_title">Nationality</strong></td>
			<td><strong class="tr_title">ID Proof</strong></td>

		</tr>
				<tr>
			<td><%=personalRows[0].dob%></td>
			<!-- <td></td> -->
			<td><%=personalRows[0].gender%></td>
			<td><%=personalRows[0].maritalstatus%></td>
			<td><%=personalRows[0].category%></td>
			<td> <%=personalRows[0].nationality%></td>
			<td><%=personalRows[0].idproof%></td>
		</tr>
		<tr>
			<td><strong>Father's Name</strong></td>
			<td colspan="6"><%=personalRows[0].father_name%></td>

		</tr>
	</table>
	<br />

	<table class="tab">
		<tr style="background-color:#f1f1f1; ">
			<td  width="50%" ><strong class="tr_title">Current Address </strong></td>
			<td width="50%"><strong class="tr_title">Permanent Address </strong></td>
			
		</tr>
		
		<tr style="height: 50px;">
			<td><%=personalRows[0].correspondenceaddress%></td>
			<td><%=personalRows[0].permanentaddress%></td>
					
		</tr>
		
	
	</table>
	<br />
	
	<span class="label"></span>
	<table class="tab">
		<!-- <tr>
			<td colspan="2"><strong>Mobile & Email</strong></td>
			
		</tr> -->
				<tr>
			<td style="background-color:#f1f1f1;"><strong class="tr_title">Mobile</strong></td>
			<td><%=personalRows[0].mobile%></td>
		</tr>

		<tr>
			<td style="background-color:#f1f1f1;"><strong class="tr_title">Alternate Mobile</strong></td>
			<td><%=personalRows[0].altmobile%></td>
		</tr>

		<tr>
			<td style="background-color:#f1f1f1;"><strong class="tr_title">Landline Phone No.</strong></td>
			<td><%=personalRows[0].landlinenumber%></td>
		</tr>

		<tr>
			<td style="background-color:#f1f1f1;"><strong class="tr_title">E-mail</strong></td>
			<td><%=personalRows[0].email%></td>
		</tr>

		<tr>
			<td style="background-color:#f1f1f1;"><strong class="tr_title">Alternate E-mail</strong></td>
			<td><%=personalRows[0].altemail%></td>
		</tr>

		
		
		
		
		
	</table>
	<br />

	<span class="label">2. Educational Qualifications</span>
	<table class="tab">

		<tr style="background-color:#f1f1f1;">
			<td colspan="6" class="tr_title"><strong>(A) Ph. D. Details</strong></td>
		</tr>
		
		<tr>
			<td width="30%"><strong>University/<br />Institute</strong></td>
			<td width="12%"><strong>Department</strong></td>
			<td width="17%"><strong>Name of Ph. D. <br />Supervisor</strong></td>
			<td width="10%"><strong>Year of <br />Joining</strong></td>
			<td width="15%"><strong>Date of <br />successful <br />thesis Defence</strong></td>
			<td width="15%"><strong>Date of <br />Award</strong></td>
		</tr>
		
				<tr>

					
			<td><%= educationaldetails[0].collge_phd %></td>
			<td><%= educationaldetails[0].stream_phd %></td>
			<td><%= educationaldetails[0].supervisor_phd %></td>
			<td><%= educationaldetails[0].yoj_phd %></td>
			<td><%= educationaldetails[0].dod_phd %></td>
			<td><%= educationaldetails[0].doa_phd %></td>


		</tr>

		<tr>
			<td><strong>Title of Ph. D. Thesis</strong></td>
			<td colspan="5"><%= educationaldetails[0].phd_title %></td>
		</tr>
		
			</table>
	<br />

	<table class="tab">

		<tr style="background-color:#f1f1f1;">
			<td colspan="8" class="tr_title"><strong>(B) Academic Details - PG</strong></td>
		</tr>
		

		<tr>
			<td width="10%"><strong>Degree</strong></td>
			<td width="25%"><strong>University/<br />Institute</strong></td>
			<td width="20%"><strong>Subjects</strong></td>
			<td width="10%"><strong>Year of <br />Joining</strong></td>
			<td width="12%"><strong>Year of <br />Graduation</strong></td>
			<td width="10%"><strong>Duration <br />(in years)</strong></td>
			<td width="30%"><strong>Percentage/CGPA </strong></td>
			<td width="30%"><strong>Division/Class </strong></td>
			

			
		</tr>
				<tr>
					<td><%= educationaldetails[0].pg_degree %></td>
					<td><%= educationaldetails[0].pg_college %></td>
					<td><%= educationaldetails[0].pg_stream %></td>
					<td><%= educationaldetails[0].pg_yoj %></td>
					<td><%= educationaldetails[0].pg_yoc %></td>
					<td><%= educationaldetails[0].pg_duration %></td>
					<td><%= educationaldetails[0].pg_cgpa %></td>
					<td><%= educationaldetails[0].pg_division %></td>

		</tr>
			</table>
	<br />

	<table class="tab">

		<tr style="background-color:#f1f1f1;">
			<td colspan="8" class="tr_title"><strong>(C) Academic Details - UG</strong></td>
		</tr>

		<tr>
			<td width="10%"><strong>Degree</strong></td>
			<td width="25%"><strong>University/<br />Institute</strong></td>
			<td width="20%"><strong>Subjects</strong></td>
			<td width="10%"><strong>Year of <br />Joining</strong></td>
			<td width="12%"><strong>Year of <br />Graduation</strong></td>
			<td width="10%"><strong>Duration <br />(in years)</strong></td>
			<td width="30%"><strong>Percentage/CGPA </strong></td>
			<td width="30%"><strong>Division/Class </strong></td>
			

			
		</tr>
				<tr>
					<td><%= educationaldetails[0].ug_degree %></td>
					<td><%= educationaldetails[0].ug_college %></td>
					<td><%= educationaldetails[0].ug_stream %></td>
					<td><%= educationaldetails[0].ug_yoj %></td>
					<td><%= educationaldetails[0].ug_yoc %></td>
					<td><%= educationaldetails[0].ug_duration %></td>
					<td><%= educationaldetails[0].ug_cgpa %></td>
					<td><%= educationaldetails[0].ug_division %></td>


		</tr>
			</table>
	<br />

	<table class="tab">

		<tr style="background-color:#f1f1f1;">
			<td colspan="8" class="tr_title"><strong>(D) Academic Details - School</strong></td>
		</tr>

		<tr>
			<td width="20%"><strong>10th/12th/HSC/Diploma</strong></td>
			<td width="20%"><strong>School</strong></td>
			<td width="15%"><strong>Year of Passing</strong></td>
			<td width="15%"><strong>Percentage/CGPA</strong></td>
			<td width="15%"><strong>Division/Class</strong></td>
			

			
		</tr>
				<tr>
			<td>10th</td>
			<td><%= educationaldetails[0].hsc_school %></td>
			<td><%= educationaldetails[0].hsc_passingyear %></td>
			<!-- <td></td> -->
			<td><%= educationaldetails[0].hsc_percentage %></td>
			<td><%= educationaldetails[0].hsc_division %></td>
			
		</tr>
				<tr>
					<td>12th</td>
					<td><%= educationaldetails[0].ssc_school %></td>
					<td><%= educationaldetails[0].ssc_passingyear %></td>
					<!-- <td></td> -->
					<td><%= educationaldetails[0].ssc_percentage %></td>
					<td><%= educationaldetails[0].ssc_division %></td>
			
		</tr>
			</table>
	<br />
	<table class="tab">
		<tr style="background-color:#f1f1f1;">
			<td colspan="8" class="tr_title"><strong>(E) Additional Educational Qualifications (If any) </strong></td>
		</tr>
		
		<tr>
			<td width="10%"><strong>Degree</strong></td>
			<td width="25%"><strong>University/<br />Institute</strong></td>
			<td width="20%"><strong>Subjects</strong></td>
			<td width="10%"><strong>Year of <br />Joining</strong></td>
			<td width="12%"><strong>Year of <br />Graduation</strong></td>
			<td width="10%"><strong>Duration <br />(in years)</strong></td>
			<td width="30%"><strong>Percentage/CGPA </strong></td>
			<td width="30%"><strong>Division/Class </strong></td>
		</tr>
			

		<% for (let i = 0; i < edu_additionaldetails.length; i++) { %>
			<tr>
				<td><%= edu_additionaldetails[i].degree %></td>
				<td><%= edu_additionaldetails[i].college %></td>
				<td><%= edu_additionaldetails[i].subjects %></td>
				<td><%= edu_additionaldetails[i].yoj %></td>
				<td><%= edu_additionaldetails[i].yog %></td>
				<td><%= edu_additionaldetails[i].duration %></td>
				<td><%= edu_additionaldetails[i].perce %></td>
				<td><%= edu_additionaldetails[i].division %></td>
			</tr>
		<% } %>
		
			
		
				
			
			
			
			
			
			
			</table>
	<br />

	<span class="label">3. Employment Details </span>

	<table class="tab">

		<tr style="background-color:#f1f1f1;">
			<td colspan="5" class="tr_title"><strong>(A) Present Employment</strong></td>
		</tr>
		

		<tr>
			<td width="20"><strong>Position </strong></td>
			<td width="30"><strong>Organization/Institution</strong></td>
			<td width="15"><strong>Date of <br />Joining</strong></td>
			<td width="15"><strong>Date of <br />Leaving </strong></td>
			<td width="15"><strong>Duration <br />(in years)</strong></td>
		</tr>


		<% for (let i = 0; i < present.length; i++) { %>
			<tr>
				<td><%= present[i].pres_emp_position %></td>
				<td><%= present[i].pres_emp_employer %></td>				
				<td><%= present[i].pres_emp_doj %></td>
				<td><%= present[i].pres_emp_dol %></td>
				<td><%= present[i].pres_emp_duration %></td>
				
			</tr>
		<% } %>
			</table>
	<br />

	<span class="label"> </span>
	<table class="tab">
		<tr style="background-color:#f1f1f1;">
			<td colspan="5" class="tr_title"><strong>(B) Employment History (After PhD )</strong></td>
		</tr>
		
		<tr>
			<td width="20"><strong>Position </strong></td>
			<td width="30"><strong>Organization/Institution</strong></td>
			<td width="15"><strong>Date of <br />Joining</strong></td>
			<td width="15"><strong>Date of <br />Leaving </strong></td>
			<td width="15"><strong>Duration <br />(in years)</strong></td>
		</tr>
		<% for (let i = 0; i < employhist.length; i++) { %>
			<tr>
				<td><%= employhist[i].exp_position %></td>
				<td><%= employhist[i].exp_employer %></td>				
				<td><%= employhist[i].exp_doj %></td>
				<td><%= employhist[i].exp_dol %></td>
				<td><%= employhist[i].exp_duration %></td>
			</tr>
		<% } %>
		
		<tr>
						<tr>
				<td colspan="5">Experience : Minimum 10 years’ experience of which at least 4 years should be at the level of Associate Professor in IITs, IISc Bangalore, IIMs, NITIE Mumbai and IISERs. <strong style="color:red;">No</strong></td>
			</tr>


					</tr>
	</table>
	<br />

	<table class="tab">
		<tr style="background-color:#f1f1f1;">
			<td colspan="8" class="tr_title"><strong>(C) Teaching Experience (After PhD)</strong></td>
		</tr>
		
		<tr>
			<!-- <td><strong>S. No.</strong></td> -->
			<td width="25%"><strong>Position</strong></td>
			<td width="30%"><strong>Employer</strong></td>
			<td width="30%"><strong>Course Taught</strong></td>
			<td width="30%"><strong>UG/PG</strong></td>
			<td width="30%"><strong>No. of Students</strong></td>
			<td width="10%"><strong>Date of <br />Joining</strong></td>
			<td width="10%"><strong>Date of <br />Leaving</strong></td>
			<td width="10%"><strong>Duration</strong></td>
		</tr>
		<% for (let i = 0; i < teaching.length; i++) { %>
			<tr>
				<td><%= teaching[i].t_exp_position %></td>
				<td><%= teaching[i].t_exp_employer %></td>				
				<td><%= teaching[i].t_exp_course %></td>
				<td><%= teaching[i].t_ugpg %></td>
				<td><%= teaching[i].t_noofstudents %></td>
				<td><%= teaching[i].t_doj %></td>
				<td><%= teaching[i].t_dol %></td>
				<td><%= teaching[i].t_duration %></td>
			</tr>
		<% } %>
		
	</table>
	<br />

	<table class="tab">
		<tr style="background-color:#f1f1f1">
			<td colspan="6" class="tr_title"><strong>(D) Research Experience </strong></td>
		</tr>
		
		<tr>
			<!-- <td><strong>S. No.</strong></td> -->
			<td width="20%"><strong>Position</strong></td>
			<td width="20%"><strong>Institute</strong></td>
			<td width="20%"><strong>Supervisor</strong></td>
			<td width="10%"><strong>Date of <br />Joining</strong></td>
			<td width="10%"><strong>Date of <br />Leaving</strong></td>
			<td width="10%"><strong>Duration</strong></td>
		</tr>
		<% for (let i = 0; i < research.length; i++) { %>
			<tr>
				<td><%= research[i].r_exp_position %></td>
				<td><%= research[i].r_exp_institute %></td>				
				<td><%= research[i].r_exp_supervisor %></td>
				<td><%= research[i].r_exp_doj %></td>
				<td><%= research[i].r_exp_dol %></td>
				<td><%= research[i].r_exp_duration %></td>
			</tr>
		<% } %>
			</table>
	<br />

	<table class="tab">
		<tr style="background-color:#f1f1f1">
			<td colspan="5"><strong  class="tr_title">(E) Industrial Experience </strong></td>
		</tr>
		
		<tr>
			<!-- <td><strong>S. No.</strong></td> -->
			<td width="20%"><strong>Organization</strong></td>
			<td width="20%"><strong>Work Profile</strong></td>
			<td width="10%"><strong>Date of <br />Joining</strong></td>
			<td width="10%"><strong>Date of <br />Leaving</strong></td>
			<td width="10%"><strong>Duration</strong></td>
		</tr>
		<% for (let i = 0; i < Industrial.length; i++) { %>
			<tr>
				<td><%= Industrial[i].ind_exp_organization %></td>
				<td><%= Industrial[i].ind_exp_workprofile %></td>				
				<td><%= Industrial[i].ind_exp_doj %></td>
				<td><%= Industrial[i].ind_exp_dol %></td>
				<td><%= Industrial[i].ind_exp_duration %></td>
			
			</tr>
		<% } %>
			</table>
	<br />

	<span class="label">4.  Area(s) of Specialization and Current Area(s) of Research</span>
	<table class="tab">
			<!-- <tr style="background-color:#f1f1f1"> 
				<td><strong class="tr_title">4. Area(s) of Specialization & Current Area(s) of Research</strong></td>
			</tr> -->
						<tr>
				<td width="25%" style="background-color: #f1f1f1;"><strong class="tr_title">Area(s) of Specialization</strong></td>
				<td><%= aosaor && aosaor.length > 0 ? aosaor[0].area_spl : 'No data available' %></td>

			</tr>

			<tr>
				<td width="25%" style="background-color: #f1f1f1;"><strong class="tr_title">Current Area(s) of Research</strong></td>
				<td><%= aosaor && aosaor.length > 0 ? aosaor[0].rese : 'No data available' %></td>

			</tr>

			
		</table>
		<br />
		

		<span class="label">5. Summary of Publications</span>
		<table class="tab">
			

			
			<tr>
				<td width="50%"><strong>Number of International Journal Papers  </strong></td>
				<td><%= publications[0].summary_journal_inter %>  </td>
			</tr>

			<tr>
				<td width="50%"><strong>Number of National Journal Papers  </strong></td>
				<td><%= publications[0].summary_journal %>  </td>
			</tr>

			<tr>
				<td><strong> Number of International Conference Papers </strong></td>
				<td><%= publications[0].summary_conf_inter %> </td>
			</tr>

			<tr>
				<td><strong> Number of National Conference Papers </strong></td>
				<td><%= publications[0].summary_conf_national %></td>
			</tr>

			<tr>
				<td><strong> Number of Patent(s) </strong></td>
				<td><%= publications[0].patent_publish %></td>
			</tr>

			<tr>
				<td><strong> Number of Book(s) </strong></td>
				<td><%= publications[0].summary_book %></td>
			</tr>

			<tr>
				<td><strong>Number of Book Chapter(s) </strong></td>
				<td><%= publications[0].summary_book_chapter %></td>
			</tr>
			
			
					</table>
		<br />


		<span class="label">6. List of 10 Best Research Publications (Journal/Conference)</span>
		<table class="tab">
			<tr style="background-color:#f1f1f1;">
				<td colspan="8"><strong class="tr_title">(A) Journals(s)</strong></td>
			</tr>
			<tr>
				<td width="5%"><strong>S. No.</strong></td>
				<td width="25%"><strong>Author(s) </strong></td>
				<td width="30%"><strong>Title</strong></td>
				<td width="25%"><strong>Name of Journal</strong></td>
				<td width="10%"><strong>Year, Vol., Page</strong></td>
				<td width="5%"><strong>Impact Factor</strong></td>
				<td width="1%"><strong>DOI</strong></td>
				<td width="5%"><strong>Status</strong></td>
			</tr>
			<% for (let i = 0; i < top10publications.length; i++) { %>
				<tr>
					<td><%= i + 1 %></td>
					<td><%= top10publications[i].author %></td>				
					<td><%= top10publications[i].title %></td>
					<td><%= top10publications[i].journal %></td>
					<td><%= top10publications[i].year %></td>
					<td><%= top10publications[i].impact %></td>
					<td><%= top10publications[i].doi %></td>
					<td><%= top10publications[i].status %></td>
				</tr>
			<% } %>
					</table>
		<br />
		
		<!-- <table class="tab">
			<tr style="background-color:#f1f1f1;">
				<td colspan="3"><strong class="tr_title">(B) Conference(s)</strong></td>
			</tr>
			<tr>
				<td width="20%"><strong>Name of the Conference </strong></td>
				<td width="20%"><strong>Title of Paper</strong></td>
				<td width="10%"><strong>Year</strong></td>
			</tr>
					</table>
		<br />	 -->

		<span class="label">7. List of Patent(s), Book(s), Book Chapter(s)</span>
		<table class="tab">
			<tr style="background-color:#f1f1f1;">
				<td colspan="8"><strong class="tr_title">(A) Patent(s)</strong></td>
			</tr>
			<tr>
				<td width="5%"><strong>S. No.</strong></td>
				<td width="20%"><strong>Inventor(s) </strong></td>
				<td width="20%"><strong>Title of Patent</strong></td>
				<td width="15%"><strong>Country of<br /> Patent</strong></td>
				<td width="10%"><strong>Patent <br />Number</strong></td>
				<td width="10%"><strong>Date of <br />Filing</strong></td>
				<td width="10%"><strong>Date of <br />Published</strong></td>
				<td width="10%"><strong>Status<br />Filed/Published</strong></td>
			</tr>
			
			<% for (let i = 0; i < patents.length; i++) { %>
				<tr>
					<td><%= i + 1 %></td>
					<td><%= patents[i].pauthor %></td>				
					<td><%= patents[i].ptitle %></td>
					<td><%= patents[i].p_country %></td>
					<td><%= patents[i].p_number %></td>
					<td><%= patents[i].pyear_filed %></td>
					<td><%= patents[i].pyear_published %></td>
					<td><%= patents[i].pyear_issued %></td>
				</tr>
			<% } %>
					</table>
		<br />	

	<table class="tab">
		<tr style="background-color:#f1f1f1;">
			<td colspan="5"><strong class="tr_title">(B) Book(s)</strong></td>
		</tr>
		<tr>
			<td width="5%"><strong>S. No.</strong></td>
			<td width="30%"><strong>Author(s) </strong></td>
			<td width="40%"><strong>Title of the Book</strong></td>
			<td width="20%"><strong>Year of Publication</strong></td>
			<td width="10%"><strong>ISBN</strong></td>
			
		</tr>
		<% for (let i = 0; i < books.length; i++) { %>
			<tr>
				<td><%= i + 1 %></td>
				<td><%= books[i].bauthor %></td>				
				<td><%= books[i].btitle %></td>
				<td><%= books[i].byear %></td>
				<td><%= books[i].bisbn %></td>
				
			</tr>
		<% } %>
			</table>
	<br />

	<table class="tab">
		<tr style="background-color:#f1f1f1;">
			<td colspan="5"><strong class="tr_title">(C) Book Chapter(s)</strong></td>
		</tr>
		<tr>
			<td width="5%"><strong>S. No.</strong></td>
			<td width="30%"><strong>Author(s) </strong></td>
			<td width="40%"><strong>Title of the Book Chapter</strong></td>
			<td width="20%"><strong>Year of Publication</strong></td>
			<td width="10%"><strong>ISBN</strong></td>
			
		</tr>
		<% for (let i = 0; i < book_chapters.length; i++) { %>
			<tr>
				<td><%= i + 1 %></td>
				<td><%= book_chapters[i].bc_author %></td>				
				<td><%= book_chapters[i].bc_title %></td>
				<td><%= book_chapters[i].bc_year %></td>
				<td><%= book_chapters[i].bc_isbn %></td>
				
			</tr>
		<% } %>
			</table>
	<br />

	<span class="label">8. Google Scholar Link </span>
	<table class="tab">
		<tr style="background-color:#f1f1f1;">
			<td colspan="6"><strong class="tr_title">URL</strong></td>
		</tr>
		<tr>
			<td width="12%"><a href="<%=googlelink[0].googlelink%>" target="_blank"><%=googlelink[0].googlelink   %>></a></td>
		</tr>
		
	</table>
	<br />

	<span class="label">9. Membership of Professional Societies </span>
	<table class="tab">
		<tr style="background-color:#f1f1f1;">
			<td colspan="3"><strong class="tr_title">Details</strong></td>
		</tr>
		
		<tr>
			<td width="3%"><strong>S. No.</strong></td>
			<td width="20%"><strong>Name of the Professional Society</strong></td>
			<td width="20%"><strong>Membership Status (Lifetime/Annual)</strong></td>
		</tr>

		<% for (let i = 0; i < membership.length; i++) { %>
			<tr>
				<td><%= i + 1 %></td>
							
				<td><%= membership[i].professional_society_name %></td>
				<td><%= membership[i].membership_status %></td>
				
				
			</tr>
		<% } %>

			</table>
	<br />

	<span class="label">10. Professional Training </span>
	<table class="tab">
		<tr style="background-color:#f1f1f1;">
			<td colspan="5"><strong class="tr_title">Details</strong></td>
		</tr>
		
		<tr>
			<td width="5%"><strong>S. No.</strong></td>
			<td width="20%"><strong>Type of Training Received</strong></td>
			<td width="20%"><strong>Organisation</strong></td>
			<td width="10%"><strong>Year</strong></td>
			<td width="10%"><strong>Duration</strong></td>
		</tr>
		<% for (let i = 0; i < training.length; i++) { %>
			<tr>
				<td><%= i + 1 %></td>
				<td><%= training[i].training_type %></td>				
				<td><%= training[i].training_organization %></td>
				<td><%= training[i].training_year %></td>
				
				<td><%= training[i].training_duration %></td>
				
			</tr>
		<% } %>
			</table>
	<br />
	
	<span class="label">11. Award(s) and Recognition(s) </span>
	<table class="tab">
		<tr style="background-color:#f1f1f1;">
			<td colspan="4"><strong class="tr_title">Details</strong></td>
		</tr>
		
		<tr>
			<td width="5%"><strong>S. No.</strong></td>
			<td width="20%"><strong>Name of Award</strong></td>
			<td width="20%"><strong>Awarded By</strong></td>
			<td width="10%"><strong>Year</strong></td>
		</tr>
		<% for (let i = 0; i < awards.length; i++) { %>
			<tr>
				<td><%= i + 1 %></td>
				<td><%= awards[i].award_name %></td>				
				<td><%= awards[i].awarded_by %></td>
				<td><%= awards[i].award_year %></td>
				
				
			</tr>
		<% } %>
		
			</table>
	<br />

	<span class="label">12. Research Supervision</span>
	<table class="tab">
		<tr style="background-color:#f1f1f1;">
			<td colspan="6"><strong class="tr_title">(A) PhD Thesis Supervision</strong></td>
		</tr>
		<tr>
			<td width="5%"><strong>S. No.</strong></td>
			<td width="25%"><strong>Name of Student/Research Scholar</strong></td>
			<td width="30%"><strong>Title of Thesis</strong></td>
			<td width="10%"><strong>Role</strong></td>
			<td width="10%"><strong>Ongoing/Completed</strong></td>
			<td width="10%"><strong>Ongoing Since/ Year of Completion</strong></td>
		</tr>
		<% for (let i = 0; i < phd_thesis.length; i++) { %>
			<tr>
				<td><%= i + 1 %></td>
				<td><%= phd_thesis[i].phd_name %></td>				
				<td><%= phd_thesis[i].phd_title %></td>
				<td><%= phd_thesis[i].phd_role %></td>
				<td><%= phd_thesis[i].phd_status %></td>
				<td><%= phd_thesis[i].phd_year %></td>
				
				
			</tr>
		<% } %>
			</table>
	<br />

	<table class="tab">
		<tr style="background-color:#f1f1f1;">
			<td colspan="6"><strong class="tr_title">(B) M.Tech/M.E./Master's Thesis Supervision</strong></td>
		</tr>
		
		<tr>
			<td width="5%"><strong>S. No.</strong></td>
			<td width="25%"><strong>Name of Student/Research Scholar</strong></td>
			<td width="30%"><strong>Title of Thesis</strong></td>
			<td width="10%"><strong>Role</strong></td>
			<td width="10%"><strong>Ongoing/Completed</strong></td>
			<td width="10%"><strong>Ongoing Since/ Year of Completion</strong></td>
		</tr>
		<% for (let i = 0; i < pg_thesis.length; i++) { %>
			<tr>
				<td><%= i + 1 %></td>
				<td><%= pg_thesis[i].pg_name %></td>				
				<td><%= pg_thesis[i].pg_title %></td>
				<td><%= pg_thesis[i].pg_role %></td>
				<td><%= pg_thesis[i].pg_status %></td>
				<td><%= pg_thesis[i].pg_year %></td>
				
				
			</tr>
		<% } %>
		
	</table>
	<br />

	<table class="tab">
		<tr style="background-color:#f1f1f1;">
			<td colspan="6"><strong class="tr_title">(C) B.Tech/B.E./Bachelor's Project Supervision</strong></td>
		</tr>
		
		<tr>
			<td width="5%"><strong>S. No.</strong></td>
			<td width="25%"><strong>Name of Student</strong></td>
			<td width="30%"><strong>Title of Project</strong></td>
			<td width="10%"><strong>Role</strong></td>
			<td width="10%"><strong>Ongoing/Completed</strong></td>
			<td width="10%"><strong>Ongoing Since/ Year of Completion</strong></td>
		</tr>
		<% for (let i = 0; i < ug_thesis.length; i++) { %>
			<tr>
				<td><%= i + 1 %></td>
				<td><%= ug_thesis[i].ug_name %></td>				
				<td><%= ug_thesis[i].ug_title %></td>
				<td><%= ug_thesis[i].ug_role %></td>
				<td><%= ug_thesis[i].ug_status %></td>
				<td><%= ug_thesis[i].ug_year %></td>
				
				
			</tr>
		<% } %>
		
	</table>
	<br />

	<span class="label">13. Sponsored Projects/ Consultancy Details </span>
	<table class="tab">
		<tr style="background-color:#f1f1f1;">
			<td colspan="7"><strong class="tr_title">(A) Sponsored Projects</strong></td>
		</tr>
		
		<tr>
			<td width="5%"><strong>S. No.</strong></td>
			<td width="20%"><strong>Sponsoring Agency</strong></td>
			<td width="20%"><strong>Title of Project</strong></td>
			<td width="10%"><strong>Sanctioned Amount</strong></td>
			<td width="10%"><strong>Period</strong></td>
			<td width="10%"><strong>Role</strong></td>
			<td width="10%"><strong>Status</strong></td>
		</tr>
		<% for (let i = 0; i < sponsoredprojects.length; i++) { %>
			<tr>
				<td><%= i + 1 %></td>
				<td><%= sponsoredprojects[i].sponsoring_agency %></td>				
				<td><%= sponsoredprojects[i].project_title %></td>
				<td><%= sponsoredprojects[i].sanctioned_amount %></td>
				<td><%= sponsoredprojects[i].project_period %></td>
				<td><%= sponsoredprojects[i].project_role %></td>
				<td><%= sponsoredprojects[i].project_status %></td>
				
			</tr>
		<% } %>
			</table>
	<br />


	<table class="tab">
		<tr style="background-color:#f1f1f1;">
			<td colspan="7"><strong class="tr_title">(B) Consultancy Projects</strong></td>
		</tr>
		
		<tr>
			<td width="5%"><strong>S. No.</strong></td>
			<td width="20%"><strong>Organization</strong></td>
			<td width="20%"><strong>Title of Project</strong></td>
			<td width="15%"><strong>Amount of Grant</strong></td>
			<td width="15%"><strong>Period</strong></td>
			<td width="15%"><strong>Role</strong></td>
			<td width="15%"><strong>Status</strong></td>
		</tr>
		<% for (let i = 0; i < consultancyprojects.length; i++) { %>
			<tr>
				<td><%= i + 1 %></td>
				<td><%= consultancyprojects[i].consultancy_organization %></td>				
				<td><%= consultancyprojects[i].consultancy_title %></td>
				<td><%= consultancyprojects[i].grant_amount %></td>
				<td><%= consultancyprojects[i].consultancy_period %></td>
				<td><%= consultancyprojects[i].consultancy_role %></td>
				<td><%= consultancyprojects[i].consultancy_status %></td>
				
			</tr>
		<% } %>
			</table>
	<br />
	
	
		<span class="label">14. Significant research contribution and future plans</span>
	<table class="tab">
		<tr>
			<td style="text-align:justify;">
                <% if (page_7 && page_7.length > 0 && page_7[0].research_statement) {%>
                <%= page_7[0].research_statement %>
                <%} %>
            </td>
		</tr>
	</table>
	<br />

	<span class="label">15. Significant teaching contribution and future plans</span>

	<table class="tab">
		
		<tr>
			<td style="text-align:justify;">
                <% if (page_7 && page_7.length > 0 && page_7[0].teaching_statement){%>
                <%= page_7[0].teaching_statement %>
                <%}%>
            </td>
		</tr>
	</table>
	<br />

	<span class="label">16. Any other relevant information</span>
	
	<table class="tab">
		<tr>
			<td> 
                <% if (page_7 && page_7.length > 0 && page_7[0].rel_in) {%>
                <%= page_7[0].rel_in %>
                <%}%>
            </td>
		</tr>
	</table>
	<br />

	<span class="label">17. Professional Service as Reviewer/Editor etc.</span>
	<table class="tab">
		<tr>
			<td>
                <% if (page_7 && page_7.length > 0 && page_7[0].prof_serv) {%>
                <%= page_7[0].prof_serv %>
                <%}%>
            </td>
		</tr>
	</table>
	<br />

	<span class="label">18. Detailed List of Journal Publications<br />(Including Sr. No., Author's Names, Paper Title, Volume, Issue, Year, Page Nos., Impact Factor (if any), DOI, Status [Published/Accepted])</span>
	<table class="tab">
		<tr><td>
            <% if (page_7 && page_7.length > 0 && page_7[0].jour_details) {%>
            <%= page_7[0].jour_details %>
            <%}%>
        </td>
		</tr>
	</table>
	<br />

	<span class="label">19. Detailed List of Conference Publications<br />(Including Sr. No.,  Author's Names, Paper Title, Name of the conference, Year, Page Nos., DOI [If any])</span>
	<table class="tab">
		<tr>conf_details
			<td>
                <% if (page_7 && page_7.length > 0 && page_7[0].conf_details) {%>
                <%= page_7[0].conf_details %>
                <%}%>
            </td>
		</tr>
	</table>
	<br />

	<span class="label">20. Reprints of 5 Best Research Papers-Attached </span>
	
	<br />
	<br />

	<span class="label">21. Check List of the documents attached with the online application </span><br />

	1. PHD Certificate<br />
	2. PG Certificate<br />
	3. UG Certificate<br />
	4. 12th/HSC/Diploma<br />
	5. 10th/SSC Certificate<br />
	6. 10 Years Post phd Experience Certificate <br />
	7. Any other relevant documents ( Experience Certificate, Award Certificate, etc.)
	<br />
	<br />


	<span class="label">22. Referees</span>
	<table class="tab">
		<tr style="background-color:#f1f1f1;">
			<td colspan="6"><strong class="tr_title">Details of Referees</strong></td>
		</tr>

		<tr>
			<!-- <td><strong>S. No.</strong></td> -->
			<td width="20%"><strong>Name</strong></td>
			<td width="20%"><strong>Position</strong></td>
			<td width="15%"><strong>Association with Referee</strong></td>
			<td width="15%"><strong>Institution/<br />Organization</strong></td>
			<td width="15%"><strong>E-mail</strong></td>
			<td width="15%"><strong>Contact No.</strong></td>
		</tr>
		<% for (let i = 0; i < datapage.length; i++) { %>
			<tr>
				<td><%= datapage[i].ref_name %></td>				
				<td><%= datapage[i].position %></td>
			
				<td><%= datapage[i].association_referee %></td>
				<td><%= datapage[i].org %></td>
				<td><%= datapage[i].email07 %></td>
				<td><%= datapage[i].phone %></td>
				
			</tr>
		<% } %>
			</table>
	<br />

	

	
	<span class="label">23. Final Declaration</span>

	<table class="tab">
		
		<td>                I hereby declare that I have carefully read and understood the instructions and particulars mentioned in the advertisment and this application form. I further declare that all the entries along with the attachments uploaded in this form are true to the best of my knowledge and belief</td>
	</table>
	<br />
	
		<img src="<%= sign_path %>" style="height:130px; width: 170px; "/><br />
	Signature of Applicant

	</div>
	
	
	<div id="non_print_area">
		<button onclick="window.location.href='http://localhost:8000/formpages/9'">Back</button>

		<button onclick="window.print();">Print Application</button> <br />
	</div>
	</div>
</div>
	
<style>
@media print
{    
    #non_print_area
    {
        display: none !important;
    }
}
</style>
</body>
